.single-assignment-container {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
}

.comment-section {
  width: 750px;
  min-height: 1000px;
  height: 500px;
  background-color: #ddd2ff;

  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  padding: 43px;
}

.comment-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-input {
  position: relative;
  width: 100%;
}
.comment-input textarea {
  width: 100%;
  height: 135px;
  resize: none;
  border: 0.3px solid #adb5bd;
  border-radius: 20px;
  padding: 10px;
}

.comment-input button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 10px 10px 10px 0px;
  background-color: #8338ec;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  padding-left: 10px;
  width: 160px;
  height: 40px;
}

.assignment-icons {
  display: flex;
  align-items: center;
}

.assignment-icons svg {
  margin-right: 10px;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.comment-header p {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.comment-header img,
.subcomments-header img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.comment-author {
  font-size: 18px;
  font-weight: bold;
}

.reply button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8338ec;
  border: none;
  background-color: transparent;
  width: 100px;
  font-size: 12px;
  font-weight: lighter;
  cursor: pointer;
}

.comment-content {
  margin-left: 50px;
  font-size: 16px;
}

.subcomments-box {
  margin-left: 50px;
  margin-bottom: 20px;
}

.subcomments-header {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.subcomments-header p {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.subcomment-text {
  margin-left: 50px;
}

.reply-input textarea {
  width: 206px;
  height: 50px;
  resize: none;
  border: none;
  border-radius: 20px;
  padding: 20px;
}

.reply-input textarea:focus,
.comment-input textarea:focus {
  outline: none;
}
.reply-input div {
  width: 100%;
  display: flex;
}
.single-assignment-employee span {
  font-size: 14px;
}

.single-assignment-employee img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.single-assignment-employee-avatar {
  display: flex;
  align-items: center;
}
